/*@font-face {*/
    /*font-family: 'MailcatFontRegular';*/
    /*src: url("../fonts/HelveticaNeueCyr-Light.otf");*/
/*format('opentype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'MailcatFontBold';*/
    /*src: url("../fonts/LT_1.ttf");*/
/*format('truetype');*/
/*}*/
@keyframes flipAround {
    25% { animation-mode:forwards; transform-origin:right; transform:rotateY(-180deg); }
    25.001% { transform:translateX(200px); }
    50% { transform-origin:bottom; transform:translateX(200px) rotateX(-180deg); }
    50.001% { transform:translateX(200px) translateY(200px); }
    75% { transform-origin:left; transform:translateX(200px) translateY(200px) rotateY(180deg); }
    75.001% { transform:translateY(200px); }
    100% { transform-origin:top; transform:translateY(200px) rotateX(180deg); }
}
.padding0
{
    padding-left: auto;
    padding-right: auto;
}
.padding4
{
    padding-top: 4px;
    padding-bottom: 4px;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    /*background: #EEEEEE url(../img/background.png) no-repeat fixed center top;;*/
    padding-bottom: auto;
}
.content {
    font-family: "MailcatFontRegular", "HelveticaNeueCyr", "HelveticaNeueLT Std Lt", "Arial Narrow", sans-serif;
    font-weight: 300;
}
::selection {
    background: #cee9ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #cee9ff; /* Gecko Browsers */
}
.qw{
    /*padding-left: 20px;*/
    border-radius: 0px 20px 20px 0px;
    background: rgba(0, 0, 0, 0.1); /* Цвет фона */
}
.qa{
    /*padding-right: 20px; */
    border-radius: 20px 0px 0px 20px;
    background: rgba(0, 0, 0, 0.03); /* Цвет фона */
}
p{

    font-size: 130%;
}
p1{
    font-family: "MailcatFontBold", "HelveticaNeue LT CYR 57 Cond", "HelveticaNeueLT Std Med", "Arial", sans-serif;
    font-size: 200%;
}
pq{
    font-size: 130%;
    padding-right: 10px;
    padding-left: 20px;
}
pa{
    font-size: 130%;
    padding-right: 20px;
    padding-left: 10px;
}
#logo{
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

#home-head{
    padding-top: 50px;
    padding-bottom: 50px;
    /*background: #EEEEEE url(../img/inbox-head.jpg) no-repeat fixed center top;*/
}

.form-group {
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
}

.spaceUnder1 {
    padding-bottom: 1em;
}
.spaceUnder3 {
    padding-bottom: 4em;
}

.td {
    padding-top: 40px;

}
.backjpg
{
    background-image:url('../../img/dashboardl.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

/* Современные браузеры, кроме Chrome, Opera, Safari */
@keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
        left: 200%;               /* от: left: 0px */
    }
    to {
        left: calc(5%); /* до: left: 100%-50px */
    }
}

/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-left-right {
    from {
        left: 200%;
    }
    to {
        left: calc(5%);
    }
}
/* Современные браузеры, кроме Chrome, Opera, Safari */
@keyframes go-right-left {   /* назовём анимацию: "go-left-right" */
    from {
        right: 200%;               /* от: left: 0px */
    }
    to {
        right: calc(5%); /* до: left: 100%-50px */
    }
}

/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-right-left {
    from {
        right: 200%;
    }
    to {
        right: calc(5%);
    }
}

.mardinbot
{
    margin-bottom: 10px;
}
.mardinleft
{
    margin-left: 15px;
}
.mardinright
{
    margin-right: 15px;
}

/* for bottom */

/* end*/
.backgrndgrey
{
    background: #EEEEEE;
}

.form-group {
    margin-bottom: 8px;
    height: 38px;
}
.slider-group .col{
    padding-top: 6px;
    padding-bottom: 6px;
}
footer {
    background-color: #eeeeee;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 75%;
    padding: 5px;
    color: #999;
}

.paddinds
{
    margin-top: auto;
}